body {
  background-color: #282c34;
  margin: 0; 
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; 
  position: relative; 
}

.logo-and-title {
  display: flex;
  align-items: center;
  position: absolute; 
  top: 20px; 
  left: 20px; 
}

.logo {
  width: 75px;
  height: 75px;
  animation: spin 3s linear infinite;
}

.title {
  margin-left: 20px;
  font-size: 24px;
  color: white; 
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.description {
  margin-top: 20px;
  text-align: center;
  max-width: 600px;
  color: white; 
  font-family: 'Montserrat', sans-serif; 
  font-size: 18px; 
  line-height: 1.5; 
}

.try-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.try-button:hover {
  background-color: #0056b3;
}
